/* Colores principales */
:root {
    --primary-color: #ff0000; /* Rojo */
    --secondary-color: #ffff00; /* Amarillo */
    --accent-color: #333; /* Gris oscuro */
    --text-color: #fff; /* Blanco */
  }
  
  /* Estilos globales */
  body {
    margin: 0;
    font-family: 'Gothic', sans-serif;
    background: url('../images/fondo.jpeg') center fixed;
    background-size: cover;
    color: var(--text-color);
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    min-height: 100vh; /* Altura mínima de la ventana del navegador */
  }
  
  /* Encabezado */
  header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    width: 100%; /* Ancho completo de la pantalla */
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 3px;
  }
  
  /* Contenido principal */
  main {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  /* Imagen principal */
  .main-image {
    width: 40%; /* Ajusta el ancho de la imagen según tus preferencias */
    max-width: 600px; /* Ancho máximo de la imagen */
    height: 300px; /* Altura fija de la imagen */
    margin-bottom: 20px;
  }
  
  /* Cuadro de carta */
  .letter-box {
    background-color: #fff;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    padding: 20px;
    width: 60%; /* Ajusta el ancho del recuadro según tus preferencias */
    max-width: 800px; /* Ancho máximo del recuadro */
    text-align: center;
  }
  
  .letter-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .letter-box p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Gothic', sans-serif;
  }
  
  .letter-box button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  /* Botón para regresar al index */
  .back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: radial-gradient(circle, #ff0000, #ffff00); /* Degradado entre rojo y amarillo */
    color: var(--text-color);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  