/* Colores principales */
:root {
    --primary-color: #2c3e50; /* Azul oscuro */
    --secondary-color: #ecf0f1; /* Gris claro */
    --accent-color: #3498db; /* Azul turquesa */
  }
  
  /* Estilos globales */
  body {
    margin: 0;
    font-family: 'Gothic', sans-serif;
    background: url('../images/fondo.jpeg') center fixed;
    background-size: cover;
    color: #fff;
  }
  
  /* Encabezado */
  header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 3px;
  }
  
  /* Contenedor principal */
  #masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  /* Elementos de la galería */
  .masonry-item {
    background-color: #fff;
    background-image: url('../images/borde_imagen.jpeg');
    background-repeat: center no-repeat;
    background-size: contain;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .masonry-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/salpicadura.jpeg');
    background-repeat: fixed;
    opacity: 0.2;
    z-index: -1;
  }
  
  .masonry-item img {
    width: 100%;
    height: 400px; /* Ajusta esta altura según tus preferencias */
    object-fit: cover;
    display: block;
  }
  
  /* Enlaces */
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #fff;
  }
  