/* Estilos específicos para la página 4 */
/* Agrega estilos para el cuadro de carta y el elemento p */
.letter-box,
.main-text {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto; /* Cambiado para centrar el cuadro */
    max-width: 600px;
    text-align: center; /* Alinea el contenido al centro */
}


.main-text {
    font-size: 1.2em;
}

/* Estilos para el contenedor de video */
#video-container {
    margin: 20px auto; /* Espaciado alrededor del contenedor */
    max-width: 600px;
    text-align: center; /* Alinea el video al centro */
}

/* Estilos para el botón de regreso */
.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333; /* Fondo sólido del botón */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #555;
}


/* Estilos para la imagen */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta la altura según tus preferencias */
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para el botón de regreso al index */
.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: radial-gradient(circle, #ff0000, #ffff00); /* Degradado entre rojo y amarillo */
    color: #fff;
    text-decoration: none;
    border-radius: 50%; /* Hace que el botón sea circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.back-button:hover {
    background: radial-gradient(circle, #ff3333, #ffcc00); /* Cambia el degradado al pasar el mouse */
}


/* Estilos para la imagen */
img {
    display: block;
    margin: auto;
    width: 60%; /* Ajusta el tamaño de la imagen según tus preferencias */
    max-width: 600px; /* Máximo ancho de la imagen */
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
